<div id="message-<%= message.id %>" class="<%= local_assigns[:css_class] %> message-box" data-chatroom-subscription-target="message" data-sender-id="<%= message.user.id %>">
  <img class="avatar chat-img" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/<%= message.user.username %>" />
  <small>
    <strong>@<%= message.user.username %></strong>
  </small>
  <p><strong class="msg-content"><%= message.content %></strong></p>
  <i class="text-end message-time"><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
</div>
