<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <div class="d-flex">
    <%= link_to challenge_path(@chatroom.challenge_id) do %>
      <i class="fas fa-angle-left ps-2 pt-2 chat-back"></i>
    <% end %>
    <h1>#<%= @chatroom.name %></h1>
  </div>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <% if message.user == current_user %>
      <div class="sent-message">
        <%= render "messages/message", message: message%>
      </div>
      <% else %>
      <div class="received-message">
        <%= render "messages/message", message: message%>
      </div>
      <% end %>
    <% end %>
    </div class="chat-content">
      <%= simple_form_for [@chatroom, @message],
        remote: true,
        data: {chatroom_subscription_target: "form"}, class: "d-flex" do |f|
      %>
        <%= f.input :content,
          label: false,
          placeholder: "Message ##{@chatroom.name}",
          wrapper_html: {class: "flex-grow-1"}
        %>
        <%= f.submit "Send", class: "send-btn" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  window.scrollTo(0,document.body.scrollHeight);
</script>
