<div class="sticky-top">
  <div class="banner banner-bg py-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "pexels-photo-1552242.webp" %>')">
    <div class="container text-center">
      <h1>@<%= current_user.username %></h1>
    </div>
  </div>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-bottomborder mx-2">
    <div class="container-fluid">
      <%= link_to "About", profile_path, class: "nav-link" %>
      <%= link_to "My Challenges", dashboard_path, class: "nav-link" %>
      <%= link_to "History", history_path, class: "nav-link" %>
      <%= link_to "Stats", stats_path, class: "nav-link" %>
    </div>
  </div>
</div>
