<%= render 'shared/challenge_navbar' %>

<div class="jbtn-container">
  <%= simple_form_for [@challenge, @user_challenge] do |f| %>
    <%= f.button :submit, "Join", class: "join-btn" %>
  <% end %>
</div>

<ul>
  <li><%= @challenge.amount %></li>
  <li><%= @challenge.start_date %> - <%= @challenge.end_date %></li>
  <%= @challenge.exercise_length %>
  <%= @challenge.maximum %>
  <%= @challenge.proof %>
  <%= @challenge.points %>
  <%= @challenge.rollover %>
</ul>

<%= link_to "See Proofs!", challenge_exercises_path(@challenge) %>
<%= link_to "Post your proof!", new_exercise_path %>
<%= link_to "Back", challenges_path %>
