<div class="sticky-top">
  <div class="banner banner-bg" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= @challenge.photo.attached? ? (cl_image_path @challenge.photo.key, height: 200, crop: :fill) : (image_path 'pexels-photo-1552242.webp')%>')">
    <div class="container text-center chatbtn-c">
      <h1><%= @challenge.name %></h1>
      <p>£<%= number_with_precision(@challenge.amount, precision: 2) %></p>
      <p>By @<%= @challenge.user.username %></p>
      <% if !@my_user_challenge.nil? %>
        <% if @my_user_challenge.user == current_user %>
          <%= link_to chatroom_path(@challenge.chatrooms.first) do %>
            <div class="chat-bg">
              <i class="fas fa-envelope m-0 chatbtn"></i>
            </div>
          <% end %>
        <% end %>
      <% elsif @challenge.user == current_user %>
        <div>
          <br>
        </div>
      <% else %>
        <div>
          <br>
        </div>
      <% end %>
    </div>
  </div>

    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-bottomborder mx-2">
      <div class="container-fluid" >
        <%= link_to "Rules", challenge_path(@challenge), class: "nav-link active-tab" %>
        <%= link_to "Members", members_path(@challenge), class: "nav-link px-0" %>
        <%= link_to "Proof", challenge_exercises_path(@challenge), class: "nav-link px-0" %>
        <%= link_to "Leaderboard", leaderboard_path(@challenge), class: "nav-link px-0" %>
      </div>
    </div>
</div>



<div id="join-box">
   <div class="jbtn-container <%= (!@my_user_challenge.nil? && (@my_user_challenge.user == current_user)) || (@challenge.user == current_user) ? "hide-button" : ""%>" id="join-btn">
    <%= simple_form_for [@challenge, @user_challenge] do |f| %>
      <%= f.button :submit, "Join", class: "join-btn", id:"confetti" %>
    <% end %>
  </div>
</div>

<div class="rules-container mt-3">
  <div class="rules">

<div class="d-flex justify-content-center stats-cards">
 <div class="card-rules d-flex flex-column justify-content-center align-items-center">
      <div class="rule-point-box">
        <i class="fas fa-stopwatch px-2 py-0 m-3 rule-points stopwatch-icon"></i>
      </div>
      <div>
        <h4><%= @challenge.exercise_length %></h4>
      </div>
      <div>
        <h6 class="missing-title">mins/workout</h6>
      </div>
  </div>

  <div class="card-rules d-flex flex-column justify-content-center align-items-center">
      <div class="rule-point-box">
          <i class="fas fa-running px-2 py-0 m-3 rule-points running-icon"></i>
        </div>
        <div>
        <h4> <%= @challenge.maximum %></h4>
        </div>
        <div>
            <h6 class="missing-title">times/week</h6>
          </div>
      </div>
  </div>

<br>

  <div class="d-flex stats-cards ms-3">
    <div class="d-flex justify-content-center align-items-center">
        <div class="rule-point-box text-center">
          <i class="fas fa-calendar px-2 py-0 m-3 rule-points"><h6>Start</h6></i>
        </div>
        <div class= "d-flex flex-align mb-2">
          <%= @challenge.start_date.strftime("%d %B %Y") %>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <div class="rule-point-box text-center">
          <i class="fas fa-calendar px-2 py-0 m-3 rule-points"><h6>End</h6></i>
        </div>
        <div class= "d-flex flex-align mb-2">
          <%= @challenge.end_date.strftime("%d %B %Y") %>
        </div>
    </div>
  </div>


    <div class="d-flex justify-content-start align-items-center mx-3 my-2">
      <div class="rule-point-box">
        <i class="fas fa-camera-retro px-2 py-0 m-3 rule-points"></i>
      </div>
      <div class="me-5">
        You must post your photo as proof
      </div>
    </div>

    <div class="d-flex justify-content-start align-items-center mx-3 my-2">
      <div class="rule-point-box">
        <i class="fas fa-biking px-2 py-0 m-3 rule-points"></i>
      </div class="me-5">
      <div>
        There are no point rollovers
      </div>
    </div>

    <div class="d-flex justify-content-start align-items-center mx-3 my-2">
      <div class="rule-point-box">
        <i class="fas fa-dumbbell px-2 py-0 m-3 rule-points"></i>
      </div>
      <div class="me-5">
        If you don't log your workout by the end of the week it will not count.
      </div>
    </div>

  </div>
</div>

<% if !@my_user_challenge.nil? && @challenge.user != current_user %>
  <% if @my_user_challenge.user == current_user %>
    <div class="about-points m-4 fs-6 text d-flex justify-content-end">
      <%= link_to user_challenge_path(@my_user_challenge), method: :delete, data: { confirm: "Are you sure?" }, class: "color-edit m-1" do %>
        <p class="color-edit m-1">Leave Challenge</p>
      <% end %>
    </div>
  <% end %>
<% elsif @challenge.user == current_user %>
    <div class="about-points m-4 fs-6 text d-flex justify-content-end">
      <%= link_to edit_challenge_path(@challenge) do %>
        <i class="far fa-edit color-edit m-1"></i>
      <% end %>
      <%= link_to challenge_path(@challenge), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="far fa-trash-alt color-edit m-1"></i>
      <% end %>
    </div>
<% else %>
   <div>
    <br>
    <br>
  </div>
<% end %>

<% if !@my_user_challenge.nil? && @challenge.user != current_user %>
  <% if @my_user_challenge.user == current_user %>
    <script>
      setTimeout(() => {
        const joinbtn = document.getElementById("join-btn")
        joinbtn.style.display = 'none';
        // const joinbox = document.getElementById("join-box")
        // joinbox.style.height = "68px";
      }, 9000)

    </script>
  <% end %>
<% elsif @challenge.user == current_user %>
    <script>
      setTimeout(() => {
        const joinbtn = document.getElementById("join-btn")
        joinbtn.style.display = 'none';
        // const joinbox = document.getElementById("join-box")
        // joinbox.style.height = "68px";
      }, 9000)
    </script>
<% end %>

<script>
  const joinbtn = document.getElementById("join-btn")
  console.log(joinbtn)

  var Confetti=function(){var t=function(){return function(){this.gravity=10,this.particle_count=75,this.particle_size=1,this.explosion_power=25,this.destroy_target=!0,this.fade=!1}}(),e=function(){function e(n){var r=this;if(this.bursts=[],this.setCount=function(t){if("number"!=typeof t)throw new Error("Input must be of type 'number'");e.CONFIG.particle_count=t},this.setPower=function(t){if("number"!=typeof t)throw new Error("Input must be of type 'number'");e.CONFIG.explosion_power=t},this.setSize=function(t){if("number"!=typeof t)throw new Error("Input must be of type 'number'");e.CONFIG.particle_size=t},this.setFade=function(t){if("boolean"!=typeof t)throw new Error("Input must be of type 'boolean'");e.CONFIG.fade=t},this.destroyTarget=function(t){if("boolean"!=typeof t)throw new Error("Input must be of type 'boolean'");e.CONFIG.destroy_target=t},this.setupCanvasContext=function(){if(!e.CTX){var t=document.createElement("canvas");e.CTX=t.getContext("2d"),t.width=2*window.innerWidth,t.height=2*window.innerHeight,t.style.position="fixed",t.style.top="0",t.style.left="0",t.style.width="calc(100%)",t.style.height="calc(100%)",t.style.margin="0",t.style.padding="0",t.style.zIndex="999999999",t.style.pointerEvents="none",document.body.appendChild(t),window.addEventListener("resize",function(){t.width=2*window.innerWidth,t.height=2*window.innerHeight})}},this.setupElement=function(t){var n;r.element=document.getElementById(t),null===(n=r.element)||void 0===n||n.addEventListener("click",function(t){var n=new o(2*t.clientX,2*t.clientY);r.bursts.push(new i(n)),e.CONFIG.destroy_target&&(r.element.style.visibility="hidden")})},this.update=function(t){r.delta_time=(t-r.time)/1e3,r.time=t;for(var e=r.bursts.length-1;e>=0;e--)r.bursts[e].update(r.delta_time),0==r.bursts[e].particles.length&&r.bursts.splice(e,1);r.draw(),window.requestAnimationFrame(r.update)},!n)throw new Error("Missing id");e.CONFIG||(e.CONFIG=new t),this.time=(new Date).getTime(),this.delta_time=0,this.setupCanvasContext(),this.setupElement(n),window.requestAnimationFrame(this.update)}return e.prototype.draw=function(){s.clearScreen();for(var t=0,e=this.bursts;t<e.length;t++){e[t].draw()}},e}(),i=function(){function t(t){this.particles=[];for(var i=0;i<e.CONFIG.particle_count;i++)this.particles.push(new n(t))}return t.prototype.update=function(t){for(var e=this.particles.length-1;e>=0;e--)this.particles[e].update(t),this.particles[e].checkBounds()&&this.particles.splice(e,1)},t.prototype.draw=function(){for(var t=this.particles.length-1;t>=0;t--)this.particles[t].draw()},t}(),n=function(){function t(t){this.size=new o((16*Math.random()+4)*e.CONFIG.particle_size,(4*Math.random()+4)*e.CONFIG.particle_size),this.position=new o(t.x-this.size.x/2,t.y-this.size.y/2),this.velocity=r.generateVelocity(),this.rotation=360*Math.random(),this.rotation_speed=10*(Math.random()-.5),this.hue=360*Math.random(),this.opacity=100,this.lifetime=Math.random()+.25}return t.prototype.update=function(t){this.velocity.y+=e.CONFIG.gravity*(this.size.y/(10*e.CONFIG.particle_size))*t,this.velocity.x+=25*(Math.random()-.5)*t,this.velocity.y*=.98,this.velocity.x*=.98,this.position.x+=this.velocity.x,this.position.y+=this.velocity.y,this.rotation+=this.rotation_speed,e.CONFIG.fade&&(this.opacity-=this.lifetime)},t.prototype.checkBounds=function(){return this.position.y-2*this.size.x>2*window.innerHeight},t.prototype.draw=function(){s.drawRectangle(this.position,this.size,this.rotation,this.hue,this.opacity)},t}(),o=function(){return function(t,e){this.x=t||0,this.y=e||0}}(),r=function(){function t(){}return t.generateVelocity=function(){var t=Math.random()-.5,i=Math.random()-.7,n=Math.sqrt(t*t+i*i);return i/=n,new o((t/=n)*(Math.random()*e.CONFIG.explosion_power),i*(Math.random()*e.CONFIG.explosion_power))},t}(),s=function(){function t(){}return t.clearScreen=function(){e.CTX&&e.CTX.clearRect(0,0,2*window.innerWidth,2*window.innerHeight)},t.drawRectangle=function(t,i,n,o,r){e.CTX&&(e.CTX.save(),e.CTX.beginPath(),e.CTX.translate(t.x+i.x/2,t.y+i.y/2),e.CTX.rotate(n*Math.PI/180),e.CTX.rect(-i.x/2,-i.y/2,i.x,i.y),e.CTX.fillStyle="hsla("+o+"deg, 90%, 65%, "+r+"%)",e.CTX.fill(),e.CTX.restore())},t}();return e}();

  let confetti = new Confetti('confetti');

  confetti.setCount(99);
  confetti.setSize(1);
  confetti.setPower(50);
  confetti.setFade(false);
  confetti.destroyTarget(true);
</script>
