<%= render 'shared/challenge_navbar' %>

<div class="card-container-proof">
  <div class="card-container mb-5 pb-2">
    <% @exercises.each do |exercise| %>
      <div class="card-proof m-3">
        <div class="card-img">
        <% if exercise.photo.attached? %>
            <%= cl_image_tag exercise.photo.key, height: 220, width: 220, crop: :fill%>
          <% else %>
            <%= image_tag "pexels-photo-1552242.webp" %>
          <% end %>
        </div>
        <div class="card-proof-info">
          <div>
            <p class="bold user-proof">@<%= exercise.user.username %></p>
          </div>
          <p><%= exercise.name.capitalize %></p>
          <div class="proof-length">
            <% if @user = current_user %>
              <div class="proof-edits">
                <%= link_to edit_challenge_exercise_path(@challenge, exercise.id) do %>
                  <i class="far fa-edit color-edit"></i>
                <% end %>
                <%= link_to exercise_path(exercise.id), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="far fa-trash-alt color-edit"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
