<%= render 'shared/challenge_navbar' %>

<h1>Proof</h1>

<% @exercises.each do |exercise| %>
  <%= exercise.name %>
  <%= exercise.user.email %>
  <%= link_to edit_challenge_exercise_path(@challenge, exercise.id) do %>
    <i class="far fa-edit"></i>
  <% end %>
  <%= link_to exercise_path(exercise.id), method: :delete, data: { confirm: "Are you sure?" } do %>
    <i class="far fa-trash-alt"></i>
  <% end %>
<% end %>
<br>
<%= link_to "Back", challenge_path(@challenge) %>
