<div class="new-form" >
 <h2>Post Your Proof!</h2>

 <%= simple_form_for(@exercise) do |f| %>
   <%= f.input :challenge_id, collection: Challenge.all %>
   <%= f.input :name %>
   <%= f.input :start_time %>
   <%= f.input :end_time %>
   <%= f.input :content %>
   <%= f.input :photo, as: :file %>
   <%= f.submit class: "btn btn-light w-100" %>
<% end %>
 <%# </div> %>
<br>



<p id="demo"></p>

  <div class="wrapper ">

  <h2>InVitness Stopwatch</h2>
    <div class="d-flex justify-content-around" >
     <p><span id="seconds">00</span>:<span id="tens">00</span></p>
    </div>
    <div class="d-flex justify-content-around" >
     <button id="button-start"class = "btn btn-light" %>Start</button>
     <button id="button-stop"class = "btn btn-light" %>Stop</button>
     <button id="button-reset"class = "btn btn-light" %>Reset</button>
    </div>
  </div>

<%# WHen a user hits stop,that should trigger an event listenern which gets the numbers for minutes, seconds and hours and puts them into the form as a param. %>
<%# EXAMPLE OF HOW TO GET TIMES FROM THE STOPWATCH BELOW %>
<%# document.querySelector('#hours').textContent %>
<%# document.querySelector('#minutes').textContent %>
<%# document.querySelector('#seconds').textContent %>


<script defer>
  var seconds = 00;
  var tens = 00;
  var appendTens = document.getElementById("tens")
  var appendSeconds = document.getElementById("seconds")
  var buttonStart = document.getElementById('button-start');
  var buttonStop = document.getElementById('button-stop');
  var buttonReset = document.getElementById('button-reset');
  var Interval ;

  buttonStart.onclick = function() {

    clearInterval(Interval);
     Interval = setInterval(startTimer, 10);
  }

    buttonStop.onclick = function() {
       clearInterval(Interval);
  }


  buttonReset.onclick = function() {
     clearInterval(Interval);
    tens = "00";
  	seconds = "00";
    appendTens.innerHTML = tens;
  	appendSeconds.innerHTML = seconds;
  }


  function startTimer () {
    tens++;

    if(tens <= 9){
      appendTens.innerHTML = "0" + tens;
    }

    if (tens > 9){
      appendTens.innerHTML = tens;

    }

    if (tens > 99) {
      console.log("seconds");
      seconds++;
      appendSeconds.innerHTML = "0" + seconds;
      tens = 0;
      appendTens.innerHTML = "0" + 0;
    }

    if (seconds > 9){
      appendSeconds.innerHTML = seconds;
    }

  }

</script>
</div>