<h1>Post Your Proof!</h1>

 <%= simple_form_for(@exercise) do |f| %>
   <%= f.input :challenge_id, collection: Challenge.all %>
   <%= f.input :name %>
   <%= f.input :start_time %>
   <%= f.input :end_time %>
   <%= f.input :content %>
   <%= f.submit %>
<% end %>

<br>
<h2>Start the timer</h2>

<%=button_to( "Start", exercises_path, :method => :start_time )  %>

<%=button_to( "End", exercises_path, :method => :stop_time )  %>

<br>
<%=button_to( "Pause", exercises_path, :method => :stop_time )  %>


<%# <%= link_to "Start", start_time_excersise_path %>
<%# <%= link_to "Stop", stop_time_exercise_path %>
<%# <%= link_to "Back", challenge_exercises_path(@challenge) %>
